body { 
  url('arrow2.png'); 
}
a { 
  url('missingImage.png'); 
}
body {
  display: block;
  color: black;
}
div {
  float: left;
  position: absolute;
  top: -99px;
}
article {
  display: inline-block;
  color: #333;
  z-index: 100;
}